<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.easybuy.mapper.NewsMapper">

	<insert id="add">
		INSERT into easybuy_news
		(title,content,createTime) 
		values
		(#{title},#{content},#{createTime})
	</insert>
	
	<update id="update">
		update easybuy_news 
		set 
		title=#{title},content=#{content} where id=#{id}
	</update>
	
	<delete id="deleteById">
		delete from easybuy_news where id = #{id}
	</delete>
	
	<select id="getNewsById" resultType="News">
		select * from easybuy_news where id = #{id}
	</select>
	
	<select id="queryNewsList" resultType="News">
		select id,title,content,createTime FROM easybuy_news
		<where>
			<if test="title != null">
				title like "%"#{title}"%"
			</if>
		</where>
		<if test="sort != null">
			order by sort=#{sort}
		</if>
		<if test="isPage">
			limit #{init},#{pageSize}
		</if>
	</select>
	
	<select id="queryNewsCount" resultType="int">
		select count(*) as count FROM easybuy_news
		<where>
			<if test="title != null">
				title like "%"#{title}"%"
			</if>
		</where>
	</select>
	
</mapper>